@function set-text-color($color) {
	@if (lightness($color) > 70) {
		@return #5D5D5D;
	} @else {
		@return #FFF;
	}
}

page-login {

  .wi {
    color: white;
  }

	.user-input {
		color: set-text-color(color($colors, base));
	}
 
  .login-content {
    background: color($colors, base);
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
    ion-item {
         padding-left: 30px !important;
         font-size: 1em;
         margin-bottom: 10px;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
 
     .submit-btn {
       background: darken(color($colors, base), 3);
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }
 
}