page-cards {
}

#chat-welcome {
	font-family: 'roboto', sans-serif;
	font-weight: 100;
}

#chat-input {
	font-family: 'roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
}

.city {
	font {
		family: 'roboto', sans-serif;
		weight: 100;
	};
}

.italic {
	font-style: italic;
}

.w-icon {
	font-size: 30px;
}
