@function set-text-color($color) {
	@if (lightness($color) > 70) {
		@return #5D5D5D;
	} @else {
		@return #FFF;
	}
}

$lighten-color: color($colors, card-color);
$last-color: $lighten-color;
$step: 1;

@while $step <=5  {
	#main ion-card:nth-child(#{$step}) {
		@if($step == 1) {
			background-color: $lighten-color;
			color: set-text-color($lighten-color);
		} @else {
			$new-color: lighten($lighten-color, $step * 1.3);
		    background-color: $new-color;
		    color: set-text-color($new-color);
		    $last-color: $new-color
		}
	}


	$step: $step + 1;
}

#main {
	background-color: $last-color;
}

.item {
	background: inherit;
	background-color: inherit;
	color: inherit;
}

.card {
	box-shadow: none;
	webkit-box-shadow: none;
	border-radius: 0px;
	margin: 0;
	width: 100%;
}

#chat {
	background-color: color($colors, base);
	color: set-text-color(color($colors, base));
}

#chat-welcome {
	font-family: 'roboto', sans-serif;
	font-weight: 100;
}

#chat-input {
	font-family: 'roboto', sans-serif;
	font-weight: 100;
	font-size: 30px;
}

.city {
	font {
		family: 'roboto', sans-serif;
		weight: 100;
	};

}

.italic {
	font-style: italic;
}

.w-icon {
	font-size: 40px;
}

#back {
		font-size: 1.75em;
		color: white;
}

