<ion-content id="main">
	<ion-icon id="back" name="log-out" padding float-right (click)="goToLogin()"></ion-icon>
	<div id="chat">
		<ion-row padding>
			<h1 id="chat-welcome">
				¿Qué deseas hacer?
      </h1>

		</ion-row>

	  <ion-row padding-left>
	    <ion-input placeholder="Escribe algo..." clearInput id="chat-input"
	    type=text (keyup.enter)="callWeatherApi($event.target.value)"> </ion-input>
	  </ion-row>
	</div>

  <div *ngIf="ciudadesUsr">
  <ion-card *ngFor="let item of ciudades" (click)="showFullInfo2(item, false)" >
  	<ion-row class="city">
	    <ion-col>
	    	<ion-item>
		      <h2>{{item.location.city}}</h2>
          <h1 class="italic">{{item.item.condition.temp}}º</h1>
		    </ion-item>
	    </ion-col>
	    <ion-col>
	    	<i class="wi wi-yahoo-{{item.item.condition.code}} w-icon" float-right padding></i>
	    </ion-col>
	  </ion-row>
  </ion-card>
  </div>
</ion-content>
